
.pageContainer{
	width: 880px;
	margin: 0 auto;
}



.logo{
	margin-left: 200px;
}

.topBar{
	width: 100%;
	
}
.servicesIntro{
	width: 100%;
}

header nav a{
	padding: 10px;
}

.pageContainer .infoBox{
	background-color: #F4F3F4; 
	width: 50%;
	border: solid black 1px;
	padding: 20px;
	flex-direction: row;
}

button{
	margin-top: 10px;
	width: 200px;
	height: 30px;
	border-radius: 10px;
}

.servicesContent{
	display: flex;
	flex: wrap;
}